<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>nattojourney</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="scss/stylesheet.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <a href="/map"><img class="logo" src="/nattojourney.png" alt="nattojourney"></a>
            <ul class="main-nav">
                <li><%= link_to("地図", "/map") %></li>
                <li><%= link_to("一覧", "/adress") %></li>
                <li><%= link_to("診断", "/matching") %></li>
                <% if @current_user %>
                    <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
                <% else %>
                    <li><%= link_to("マイページ", "/users/:id") %></li>
                <% end %>
                <li><%= link_to("レシピ", "/recipe") %></li>
                <li><%= link_to("参考", "/pull") %></li>
                <% if session[:user_id] %>
                    <li><%= link_to("ログアウト", "/logout") %></li>
                <% else %>
                    <li><%= link_to("新規登録", "/signup") %></li>
                    <li><%= link_to("ログイン", "/login") %></li>
                <% end %>
            </ul>
        </header>
        <div class="recipe">
            <h2>レシピ</h2>
            <ul>
                <li><p>Nadia</p><a href="https://oceans-nadia.com/recipe/tag/%E7%B4%8D%E8%B1%86" target="_blank" rel="noopener noreferrer">https://oceans-nadia.com/recipe/tag/%E7%B4%8D%E8%B1%86</a></li>
                <li><p>クックパッド</p><a href="https://cookpad.com/search/%E7%B4%8D%E8%B1%86" target="_blank" rel="noopener noreferrer">https://cookpad.com/search/%E7%B4%8D%E8%B1%86</a></li>
                <li><p>みんなのきょうの料理</p><a href="https://www.kyounoryouri.jp/category/s1332" target="_blank" rel="noopener noreferrer">https://www.kyounoryouri.jp/category/s1332</a></li>
                <li><p>Kurashiru</p><a href="https://www.kurashiru.com/video_categories/223" target="_blank" rel="noopener noreferrer">https://www.kurashiru.com/video_categories/223</a></li>
                <li><p>富士納豆</p><a href="https://fujinatto.jp/natto-recipe/" target="_blank" rel="noopener noreferrer">https://fujinatto.jp/natto-recipe/</a></li>
            </ul>
        </div>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>